<div class="background-modal-image animated fadeIn fast"
 [class.hidden]="modalImageService.hideModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Load Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="closeModal()">×</span></button>
            </div>
            <div class="modal-body">
              <div class="dropify-wrapper has-preview">
                <div class="dropify-message"><span class="file-icon"></span>
                  <p>Drag and drop a image here or click</p>
                  <p class="dropify-error">Ooops, something wrong appended.</p>
                </div>
                <div class="dropify-loader" style="display: none;"></div>
                <div class="dropify-errors-container">
                  <ul></ul>
                </div>
                <input type="file"  (change)="onImgSelected($event)"  accept="image/*">
                 >

                  <!-- <button type="button"
                  class="dropify-clear">Remove</button> -->

                <div class="dropify-preview" style="display: block;"><span class="dropify-render">
                  <img [src]="modalImageService.img" *ngIf="modalImageService.img">
                    </span>
                  <div class="dropify-infos">
                    <div class="dropify-infos-inner">
                      <p class="dropify-filename"><span class="file-icon"></span> <span
                          class="dropify-filename-inner">Select an image</span></p>
                      <p class="dropify-infos-message">Drag and drop or click to replace</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateAvatar()">Upload.</button>
            </div>
        </div>
    </div>
  </div>
</div>


